@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap");

html {
	box-sizing: border-box;
}

header,
nav,
main,
aside,
article,
footer {
	border: red solid 2px;
	border-radius: 0.5rem;
}

header {
	padding: 0.325rem;
	margin-bottom: 0.5rem;

	background-image: url(img/snow_winter_trees.jpg);
	background-size: cover;
}

nav ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	list-style: none;
	padding: 0;
}

nav img {
	border: black solid 2px;
	border-radius: 0.5rem;
	height: calc(1.5vw + 1.75em);
}

h1 {
	text-align: center;
	font-size: calc(3vw + 2rem);
	font-family: "Mountains of Christmas", serif;
}

main {
	margin-bottom: 0.5rem;
}

main aside {
	display: none;
}

main aside,
main article {
	margin: 0.325rem;
	padding: 0.125rem;
}

footer {
	padding: 0.125rem;
	text-align: center;
}

@media screen and (min-width: 641px) {
	nav ul {
		flex-direction: row;
		gap: 2vw;
	}

	main {
		display: grid;
		grid-template-columns: 20% auto;
	}

	.sekundär-nav {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.sekundär-nav ul {
		list-style: none;
		padding: 0;
	}

	.sekundär-nav img {
		border: black solid 2px;
		border-radius: 0.5rem;
		width: 90%;
	}
}

@media screen and (min-width: 1008px) {
	main {
		display: grid;
		grid-template-columns: 15% auto 15%;
	}

	.julgran {
		display: block;
	}

	.julgran img {
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
}
